body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background: #ECF2F8;
}

.container .contenedor {
    background: #FFF;
    justify-content: center;
    align-content: center;
}

.contenedor .textos .titulo {
    font-size: 20px;
    font-weight: 500;
}